<div class="container">
    <h1>Lista de productos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Miniatura</th>
            </tr>
        </thead>
        <tbody>
            {{#if products}}
                {{#each products}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{price}}</td>
                        <td>
                        <img width="30" src="{{thumbnail}}" alt="">
                    </td>
                    </tr>
                {{/each}}
            {{else}}
                <tr>
                    <td colspan="3">No hay productos</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
    <a href='/'><button type="button" class="btn btn-primary">Volver al formulario</button></a>
</div>