<h1>Lista de productos</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Precio</th>
            <th scope="col">Miniatura</th>
        </tr>
    </thead>
    <tbody>
        {{#if products}}
            {{#each products}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{price}}</td>
                    <td><img width="30" src="{{thumbnail}}" alt=""/></td>
                </tr>
             {{/each}}
        {{else}}
            <tr>
                <td colspan="3">No hay productos</td>
            </tr>
        {{/if}}
    </tbody>
</table>